@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, h1, h2, ul, p, nav {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #4fa8e7; 
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

nav {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right; 
}

nav li {
  margin-bottom: 10px; 
}

nav a {
  display: block; 
  color: #333; 
  text-decoration: none;
  transition: color 0.25s, transform 0.25s; 
}

nav a:hover {
  color: white; 
  transform: scale(1.1); 
  text-decoration: underline; 
}

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 100px; 
} */

.main-content {
    width: 80%;
    box-sizing: border-box;
    margin-top: 100px;
    padding-left: 60px;
    min-height: calc(100vh - 120px); /* Adjust 120px to account for header/footer height */
}

header {
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1rem;
    line-height: 1.6;
}

.home {
  width: 50%;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding: 20px;
  
}

#projects ul {
  margin-bottom: 10px;
  margin-top: 20px;
  list-style-type: none;
  flex-basis: calc(50% - 40px); 
  max-width: calc(50% - 40px); /* This will create two columns; adjust the 40px if you change padding or margins */
}

#projects li {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center; 
}

#projects li a {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block; /* Make the link fill the entire list item */
  transition: background-color 0.3s, transform 0.3s;
}

#projects li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  color: white;
  text-decoration: underline; 
}

footer#contact {
  position: fixed;
  bottom: 20px; /* Aligning at the bottom to mimic the nav bar position */
  right: 20px;
  padding: 15px;
  text-align: right; 
}

footer#contact h2 {
  margin-bottom: 1rem; 
  text-align: center; 
}

footer#contact form {
  max-width: 200px; 
  margin: auto;
  text-align: right;  
}

footer#contact input[type="email"],
footer#contact textarea {
  width: 100%; 
  margin-bottom: 0.5rem; 
  border: 1.5px solid #333; 
  border-radius: 0.25rem;
  padding: 0.5rem; 
  background-color: transparent; 
  font-size: 1rem;
  color: #333; 
}

footer#contact button {
  padding: 0.5rem;
  margin-top: -0.75px;
  width: 110%; 
  border: 1.5px solid #333;
  border-radius: 0.25rem;
  background-color: #005fa3; 
  font-size: 1rem;
  color: white; 
  cursor: pointer; 
  transition: background-color 0.25s;
}

footer#contact button:hover {
  background-color: #2673aa; 
}

footer#contact button:active {
    background-color: #ffffff80; 
}

footer#contact ::placeholder {
  color: #333; 
}

footer#contact .message {
  display: none; /* Hide the message initially */
  padding-top: 10px;
}

footer#contact .message.visible {
  display: block;
  transition: opacity 0.25s;
  opacity: 1; 
  pointer-events: all; 
}

.message {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.message.visible {
  opacity: 1;
  pointer-events: all;
}


@media (max-width: 768px) {
  body, nav, .main-content, header, #projects, footer#contact {
      text-align: center; 
      padding-left: 10px; 
      padding-right: 10px; 
  }

  body {
      flex-direction: column;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  nav, footer#contact {
      position: static;
      width: calc(100% - 20px); /* Adjust width to account for padding */
  }

  .main-content, #projects ul, footer#contact form {
      margin: 0 auto; 
      width: calc(100% - 20px); /* Adjust width to account for padding */
  }

  header h1, header p {
      margin: 0 auto; /* Auto margin for horizontal centering */
  }

  #projects ul {
      flex-basis: 100%; 
      max-width: 100%;
      padding: 0; 
      margin-top: 20px; 
  }

  #projects li {
      width: 100%; 
      margin-bottom: 15px; 
  }

  #projects li a {
      padding: 8px 15px;
      display: block; 
  }

  footer#contact input[type="email"], footer#contact textarea {
      font-size: 0.9rem;
  }
}


