@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Reset some default styles */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* Container styles */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Heading styles */
h1 {
  font-size: 24px;
}

/* Input container styles */
.input-container {
  margin-top: 20px;
}

/* Text input styles */
input[type="text"] {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #156ece;
  border-radius: 0.25rem;
  font-family: "Raleway", sans-serif;
}

/* Task input styles */
#taskInput {
  width: 70%;
  margin-bottom: 1.5rem;
  padding: 0.25rem;
  text-align: center;
}

/* Button styles */
button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;
}

/* Task list styles */
.tasks {
  height: 25rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  list-style-type: none;
  overflow-y: auto;
}

/* List item styles */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  padding: 3px;
}

.tasks-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-grow: 1; /* Align tasks to flex-start and buttons to flex-end */
}

/* Task input and checkbox styles */
.task input[type="checkbox"],
.task .task-text {
  flex-grow: 0; 
}

/* Style the "Edit," "Remove," "Drag," "Move Up," and "Move Down" buttons */
.task button.edit,
.task button.remove,
.task button.drag,
.task button.move-up,
.task button.move-down {
  background-color: transparent;
  font-size: 1.25rem;
  color: #007BFF;
  border: none;
  cursor: pointer;
  margin-left: 2px; 
  justify-content: flex-end;
  flex-grow: 0;
}

.task button.remove:hover,
.task button.drag:hover,
.task button.edit:hover,
.task button.move-up:hover,
.task button.move-down:hover {
  color: #0056b3;
}
