@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('study.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(167, 198, 221, 0.1);
    padding: 20px;
    margin: 20px;
}

h1 {
    color: #333;
    font-weight: bold;
    font-size: 32px;
}

.lead {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #666;
    font-size: 24px;

}

h1, .lead {
  text-align: center;
}

#taskForm {
    display: flex;
    flex-direction: column;
}

#taskInput {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.tasks {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  max-width: 500px; 
  margin: auto; 
  overflow: hidden; 
}

.task {
  display: flex;
  align-items: center; 
  padding: 10px 15px; 
  border-bottom: 1px solid #eee; 
  padding: 15px 20px;
}

.task:last-child {
  border-bottom: none; 
}

.task:not(:last-child) {
  border-bottom: 1px solid #eee; 
}

.task input[type="checkbox"] {
  margin-right: 10px; 
  transform: scale(1.3);
}

.task input[type="text"] {
  flex: 1; 
  border: none; 
  background: transparent; 
  margin-right: 10px; 
  font-size: 18px; 
  padding: 8px 0;
  color: #333; 
}

.task button {
  background: none; 
  border: none; 
  color: #333; 
  cursor: pointer; 
  font-size: 20px;
}

.task button:hover {
    color: #f00;
}

/* Style for completed tasks */
.completed {
  text-decoration: line-through;
  color: #999; 
  font-style: italic; 
}