body {
    text-align: center;
    background-image: url('pokemon-clipart-baby-6.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20%;
    margin-left: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2f0808;
}

h1 {
    background-image: url('pokemon-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 200px;
    width: 100%;
    text-indent: -9999px;
    display: block;
}

input[type="text"], button {
    font-size: 1rem;
    padding: 0.5em;
    margin: 0.5em auto; /* Centered with auto margins */
    display: block; /* Each element takes its own line */
    width: 80%; /* Adjusted width */
    max-width: 300px; /* Maximum width */
}

button {
    background-color: #FFCB05;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #003A70;
    color: #ffffff;
}

#pokemonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1em;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

h2 {
    text-transform: capitalize;
}

img {
    border: 1px solid black;
    border-radius: 1rem;
    transition: transform 1s linear;
}

img.rotated {
    transform: rotate(360deg);
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.inspiration {
    font-style: italic;
}

